<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | title }}</title>
</head>
<body>
<h1>{{ title | title }}</h1>
<h2> {{ user_name }} </h2>
<h3>Ваши продукты:</h3>
{% for product in goods %}
    <p>{{ goods.name }} | {{ goods.price }}</p>
{% endfor %}
{% if promotion_products %}
<h3 style="color:red;">Акция</h3>
    {% for product_promotion in promotion_products %}
        <p>{{ product_promotion.name }} | {{ product_promotion.price }}</p>
    {% endfor %}
{% else %}
    <h5 style="color:red;">Сейчас акций нет!</h5>
{% endif %}
</body>
</html>