body {
    font-family: sans-serif;
}
.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.heading_1 {
    font-size: 64px;
    color: #1F3F68;
}
.heading_2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.heading_3 {
    font-size: 36px;
    text-align: center;
}
.heading_4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}
.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    font-size: 16px;
    line-height: 56px;
    width: 300px;
    
}
.but {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 20px;
    font-weight: 50px;
    font-size: 15px;
    line-height: 56px;
    width: 300px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 5px;
}


.face_page {
    border: 2px solid red;
}
.menu {
    border: 2px solid green;
    padding: 16px;
    margin-top: 20px;
}
.initial_title {
    border: 2px solid teal;
    width: 450px;
    margin-top: 50px;  
    margin-bottom: 300px;  
}
.menu_title {
    border: 2px solid slateblue;
    margin-left: 60px;
    margin-right: 60px;
}

.content_page {
    border: 2px solid slateblue;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.content_menu {
    border: 2px solid green;
    margin-bottom: 16px;
}
.content_info {
    border: 2px solid slateblue;
    width: 350px;
    height: 500px;
    padding: 16px;
    margin-bottom: 16px;
}

.finish_content {
    border: 2px solid red;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}


.footer_content {
    border: 2px solid red;
    margin-top: 30px;
}
.footer_info {
    border: 2px solid rgb(156, 155, 163);
    margin-left: 60px;
    margin-right: 60px;
}
.footer_request {
    border: 2px solid rgb(156, 144, 230);
    width: 450px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}
.footer_contact {
    border: 2px solid rgb(98, 187, 187);
    margin-left: 60px;
    margin-right: 60px;
}
.finish_footer {
    border: 2px solid rgb(129, 148, 148);
    margin-bottom: 30px;
}


.contact_face_page {
    border: 2px solid red;
}
.contact_menu {
    border: 2px solid green;
    padding: 16px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
}
.contact_heading {
    border: 2px solid rebeccapurple;
    text-align: center;
    height: 200px;
}
.contact_info {
    border: 2px solid slateblue;
    /* margin-top: 50px;
    margin-left: 400px; */
    width: 500px;
    height: 700px;
    /* padding: 16px;
    margin-bottom: 20px;
    float: left; */
    
}
.contact_message {
    border: 2px solid slateblue;
    /* margin-top: 50px;
    margin-left: 950px; */
    width: 500px;
    height: 700px;
    /* padding: 16px;
    margin-bottom: 20px; */
    
}
.name {
    border: 2px solid slateblue;
    height: 170px;
    width: 300px;
    margin-left: 100px;
    ;
}
.mail {
    border: 2px solid slateblue;
    height: 100px;
    width: 300px;
    margin-left: 100px;
}
.message {
    border: 2px solid slateblue;
    height: 230px;
    width: 300px;
    margin-left: 100px;
}
.submit {
    border: 2px solid slateblue;
    height: 70px;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    margin-top: 40px;
}
.map {
    border: 2px solid red;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.contact_footer {
    border: 2px solid red;
    margin-top: 30px;
}
.contact_footer_info {
    border: 2px solid rgb(156, 155, 163);
    margin-left: 60px;
    margin-right: 60px;
}
.contact_footer_request {
    border: 2px solid rgb(156, 144, 230);
    width: 450px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}
.contact_footer_contact {
    border: 2px solid rgb(98, 187, 187);
    margin-left: 60px;
    margin-right: 60px;
}
.contact_finish_footer {
    border: 2px solid rgb(129, 148, 148);
    margin-bottom: 30px;
}

* {
    margin: 0px;
    padding: 0px;
}

.container {
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.heading_1 {
    width: 510px;
}

.th-1 {
    width: 425px;
}

.whatwedo {
    margin: 0 auto;
}

.ch-4 {
    width: 359px;
}

.ct {
    width: 359px;
}

.content_menu {
    display: flex;
    justify-content: space-between;
}

.footer_content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footer_request {
    justify-content: center;
    width: 495px;
}

.footer_heading {
    justify-content: center;
    width: 340px;
}

.footer_contact {
    display: flex;
    justify-content: space-around;
}

.container_contacts {
    justify-content: center;
}

.contact_menu {
    display: flex;
    justify-content: space-between;
}

.contact_Us {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact_message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.map {
    margin: 0 auto;
}
